@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This will be the site about create yourown diet plan. You have some information about different kind of diet, excercises. 
    If you decided to create your profile you can plan your own weekly diet plan with recepies. 
    
</p>
